/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */
@import "tailwindcss";
@config "../../tailwind.config.js";
@tailwind utilities;

@font-face {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/georgia/georgia.ttf") format("tff");
}

@font-face {
  font-family: "Nunito", serif;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/nunito/Nunito-Regular.ttf") format("tff");
}

@theme {
  --breakpoint-nav: 1025px;

  --shadow-popUp: 0 16px 24px 0px rgba(0, 0, 0, 0.2);

  --color-*: initial;
  --color-white: #ffffff;

  --font-georgia: Georgia, "Times New Roman", Times, serif;

  --font-nunito: "Nunito", serif;

  --text-12: 12px;
  --text-12--line-height: 150%;
  --text-14: 14px;
  --text-14--line-height: 150%;
  --text-16: 16px;
  --text-16--line-height: 150%;
  --text-18: 18px;
  --text-18--line-height: 150%;
  --text-20: 20px;
  --text-20--line-height: 125%;
  --text-24: 24px;
  --text-24--line-height: 125%;
  --text-28: 28px;
  --text-28--line-height: 125%;
  --text-32: 32px;
  --text-32--line-height: 150%;
  --text-36: 36px;
  --text-36--line-height: 150%;
  --text-40: 40px;
  --text-40--line-height: 150%;
  --text-48: 48px;
  --text-48--line-height: 100%;
}
/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

* {
  scroll-behavior: smooth;
}

.slideshow {
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
}

.slideshow .firstSlide {
  animation: moveSlideshow 100s linear infinite;
  display: flex;
  width: calc(350px * 5);
}

.slideshow .firstSlide:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.slideshow .secondSlide {
  animation: moveSlideshowRight 100s linear infinite alternate;
  display: flex;
  width: calc(350px * 7);
}

.slideshow .secondSlide:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes moveSlideshow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-350px * 5));
  }
}

@keyframes moveSlideshowRight {
  0% {
    transform: translateX(calc(-350px * 5));
  }

  100% {
    transform: translateX(0%);
  }
}


